<header>

  <nav class="navbar navbar-expand-md navbar-light sticky-top">
    <a class="navbar-brand" routerLink="/">
      <mat-icon matSuffix>hourglass_empty</mat-icon>
      Steventos
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let page of pages">
          <a class="nav-link" [routerLink]="page.path" routerLinkActive="active">
            {{ page.name }}
          </a>
        </li>
      </ul>
      
      <form class="form-inline mt-2 mt-md-0">
      
        <button type="button" 
                class="btn btn-outline-primary" 
                data-toggle="modal" 
                data-target="#loginModal">
                Login
        </button>
      
      </form>
    </div>
  </nav>
</header>

<!-- Modal -->
<signin-modal></signin-modal>
<create-modal></create-modal>
<reset-modal></reset-modal>