<form [formGroup]="eForm">
  <input type="hidden" formControlName="id" />

  <div class="form-group">
    <label>Nome</label>
    <input type="text" formControlName="nome" class="form-control" />
  </div>

  <div class="form-group">
    <label>Descrição</label>
    <textarea
      formControlName="descricao"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
  </div>

  <div class="form-group">
    <label>Data Inicial</label>
    <mat-datepicker #dInicial></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="dInicial"></mat-datepicker-toggle>
    <input
      formControlName="dataIni"
      matInput
      [matDatepicker]="dInicial"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label>Data Final</label>
    <mat-datepicker #dFinal></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="dFinal"></mat-datepicker-toggle>
    <input
      formControlName="dataFim"
      matInput
      [matDatepicker]="dFinal"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label>Local</label>
    <cidades-autocomplete
      [display]="displayLocal()"
      [searchFunction]="cService.cidadeJSON"
      ctrlName="local"
      [form]="eForm"
    ></cidades-autocomplete>
  </div>
</form>

<steventos-form
  [service]="eService"
  [form]="eForm"
  (setValue)="setEvento($event)"
></steventos-form>
